{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <h1>HOMEUH</h1>

    {% if not app.user %}
    <a href="{{ path('register') }}">Register</a>
    <a href="{{ path('login') }}">Login</a>
    {% else %}

        <h2>WELCOME {{ app.user.firstname }}</h2>
        <a href="{{ path('logout') }}">Logout</a>
        <a href="{{ path('account') }}">My Account</a>

    {% endif %}
    <a href="{{ path('users') }}">Our Users</a>
{% endblock %}
