{% extends 'base.html.twig' %}

{% block title %}Ajouter un Trajet{% endblock %}

{% block body %}

     <main class="connect-form">
        <h2>Ajouter un trajet</h2>
<<<<<<< HEAD
        {{ form_start(runForm) }}
        {{ form_row(runForm.departure, { 'label': '* Ville de départ' }) }}
        {{ form_row(runForm.arrival, { 'label': '* Ville d\'arrivée' }) }}
        {{ form_row(runForm.departureSchedule, { 'label': '* Date et heure du départ' }) }}
        {{ form_row(runForm.places, { 'label': '* Nbr de places' }) }}
        {{ form_row(runForm.price, { 'label': '* Prix par personnes en €' }) }}
        {{ form_row(runForm.submit) }}
        {{ form_end(runForm) }}
=======
         {{ form(runForm) }}
>>>>>>> 92b0d199ecb616321d00af2f6ebfe03b51c71b20
    </main>
{% endblock %}
