{% extends 'base.html.twig' %}


{% block body %}
    <h2> LES RUNS MA GUEULE</h2>
{% for run in runs  %}
    <h3>{{ run.driver.firstname }} {{ run.driver.lastname }} | {{ run.departureDate |date("d-m-Y") }} - {{ run.departureTime |date("H:i") }}</h3>
    {{ run.departure.cityName }} -> {{ run.arrival.cityName }}

  Place restantes: {{ run.places }}
    <a href="{{ path('reserveRun',{'id' : run.id}) }}">RESERVER</a>

    <a href="{{ path('detailRun', {'id': run.id}) }}">DETAIL</a>
<hr>
{% else %}
    No runs found
{% endfor %}

{% endblock %}