{% extends 'tableau.html.twig' %}
{% import 'macros/form_search.html.twig' as form %}

{% block content %}
    <h3>Rechercher un trajet</h3>

    {{ form.formSearch() }}
    <!-- ETIQUETTES -->
    {% for run in runs %}
    <a class="trip" href="#">
        <div class="img-rider">
            <div class="img-profil-rider" style="background-image:url('{{ asset('img/dog.jpg') }}'); -webkit-filter: saturate(40%);"></div>
            <p>Conducteur(.trice)</p>
        </div>
        <div class="name-step">
            <p class="name"><span class="firstname">{{ run.driver.firstname | upper }}</span> <span class="lastname">{{ run.driver.lastname }}</p>
            <p class="phone">Nbr de places restantes : <span>{{ run.places }}</span></p>
            <p class="city">{{ run.departure.cityName }}<span>--></span> T{{ run.arrival.cityName }}</p>
        </div>
        <div class="date-ride">
            <p class="day">{{ run.departureSchedule.format('d') }}</p>
            <p class="month">{{ run.departureSchedule.format('F') }}</p>
            <p class="hour">{{ run.departureSchedule.format('H') }}<span>H</span>{{ run.departureSchedule.format('i') }}</p>
        </div>
    </a>
        {% else %}

        No runs
    {% endfor %}
{% endblock %}