{% extends 'tableau.html.twig' %}
{% import 'macros/form_search.html.twig' as form %}

{% block content %}
    <h3>Rechercher un trajet</h3>

    {{ form.formSearch() }}
    <!-- ETIQUETTES -->
    {% for run in runs %}

    <a class="trip" href="{{ path('detailRun', {"id":run.id}) }}">
        <div class="img-rider">
            <p>Conducteur(.trice)</p>
            {% if run.driver.picture == null %}
                <div class="img-profil-rider" style="background-image:url('{{ asset('img/dog.jpg') }}'); -webkit-filter: saturate(40%);"></div>
            {% else %}
                <div class="img-profil-rider" style="background-image:url('{{ asset('img_upload/' ~ run.driver.picture) }}'); -webkit-filter: saturate(40%);"></div>
            {% endif %}
        </div>
        <div class="name-step">
            <div>
                <p class="name"><span class="firstname">{{ run.driver.firstname | upper }}</span> <span class="lastname">{{ run.driver.lastname }}</p>
                <p class="price">{{ run.price }}</p>
            </div>
            <p class="phone">Nbr de places restantes : <span>{{ run.places }}</span></p>
            <p class="city">{{ run.departure }}<span>--></span> {{ run.arrival }}</p>
        </div>
        <div class="date-ride">
            <p class="day">{{ run.departureSchedule.format('d') }}</p>
            <p class="month">{{ run.departureSchedule.format('F') }}</p>
            <p class="hour">{{ run.departureSchedule.format('H') }}<span>H</span>{{ run.departureSchedule.format('i') }}</p>
        </div>
    </a>

        Allez-y 
    {% endfor %}
{% endblock %}