{% extends 'tableau.html.twig' %}
{% import 'macros/form_search.html.twig' as form %}

{% block content %}
    <h3>Rechercher un trajet</h3>

    {{ form.formSearch() }}
    <!-- ETIQUETTES -->
    {% for run in runs %}

        <div class="trip-div">

            <a class="trip" href="{{ path('detailRun', {'id':run.id}) }}">
                <div class="img-rider">
                    {% if app.user.picture != null %}
                        <div class="img-profil-rider" style="background-image:url( '{{ asset('img_upload/' ~ run.driver.picture) }}' )"></div>
                    {% else %}
                        <div class="img-profil-rider" style="background-image:url('{{ asset('img/dog.jpg') }}'); -webkit-filter: saturate(40%);"></div>
                    {% endif %}
                </div>
                <div class="name-step">
                    <p class="name"><span>{{ run.driver.firstname | upper }} {{ run.driver.lastname }}</span><span class="drive_price">{{ run.price }}€</span></p>
                    <p class="phone">Nbr de places restantes : <span>{{ run.places }}</span></p>
                    <p class="city">{{ run.departure }}<span>--></span> {{ run.arrival }}</p>
                </div>
                <div class="date-ride">
                    <p class="day">{{ run.departureDate.format('d') }}</p>
                    <p class="month">{{ run.departureDate.format('F') }}</p>
                    <p class="hour">{{ run.departureTime.format('H') }}<span>H</span>{{ run.departureTime.format('i') }}</p>
                </div>
            </a>
        </div>

        Allez-y 
    {% endfor %}
{% endblock %}