{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

<main class="dashboard">
        <h2>Tableau de bord</h2>
        <ul class="nav-dashboard">
            
            <li><a 
                class="{{ app.request.get('_route') == 'ridecourt' ? 'active' }}" 
                href="{{path('ridecourt')}}">Trajets en cours
            </a></li>
            <li><a 
                class="{{ app.request.get('_route') == 'searchride' ? 'active' }}" 
                href="{{path('searchride')}}">Rechercher un trajet
            </a></li>
            <li><a href="">Les longs trajets</a></li>
            <li><a href="">Les commentaires</a></li>
        </ul>

        <div class="main-dashboard">
            <div class="column-profil">
                {% if not app.user %}
                        <div class="img-profil" style="background-image:url('{{ asset('img/dog.jpg') }}'); -webkit-filter: saturate(40%);"></div>
                {% else %}
                    {% if app.user.picture != null %}
                        <div class="img-profil" style="background-image:url( '{{ app.user.picture }}' )"></div>
                    {% else %}
                        <div class="img-profil" style="background-image:url('{{ asset('img/dog.jpg') }}'); -webkit-filter: saturate(40%);"></div>
                    {% endif %}
                {% endif %}

                {% if not app.user %}
                    <form action="{{ path('login') }}">
                        <button>Inscrivez-vous</button>
                    </form>
                {% else %}
                {# {% if app.user.note != null %}
                    <p class="note-profil">{{ app.user.note }} / 5</p> <!-- VOIR LA REQUETE -->
                {% else %}#}
                    <p class="not-note">pas de note</p>
                {#{% endif %}#}
                <div class="p-profil">
                    <p class="name-profil">
                        <span class="firstname">{{ app.user.firstname }} </span>
                        <span class="lastname"> {{ app.user.lastname }}</span>
                    </p>
                    <p class="email-profil">{{ app.user.email }}</p>
                </div>
                <button>Modifier votre profil</button>
                {% endif %}
            </div>
            <div class="main-trip">
                
                {% block content %}

                {% endblock %}

            </div>
        </div>

    </main>
    

{% endblock %}