{% extends 'base.html.twig' %}

{% block title %} Account | {{ parent() }} {% endblock %}

{% block body %}

    Welcome {{ app.user.firstname }}


    <a href="{{ path('logout') }}">Logout</a>
    <a href="{{ path('home') }}">Home</a>


    <ul>
        <li>FIRSTNAME = {{ app.user.firstname }}</li>
        <li>LASTNAME = {{ app.user.lastname }}</li>
        <li>EMAIL = {{ app.user.email }}</li>
    </ul>

    <a href="{{ path('suppAccount') }}">Supp</a>
    <a href="{{ path('editAccount') }}">Edit</a>

    <h3><a href="{{ path('addRun') }}">Add Run</a></h3>

    <h2> Runs where I drive</h2>

    {% for run in runs %}

        <h4>{{ run.departureSchedule |date("d-m-Y") }} - {{ run.departureSchedule |date("H:i") }}</h4>

        <p>DEPART = {{ run.departure.cityName }}</p>
        <p>ARRIVEE = {{ run.arrival.cityName }}</p>

        <button><a href="{{ path('deleteRun', {'id': run.id}) }}">SUPP</a></button>
        <hr>
        {% else %}

        <p> No runs where you drive !</p>
    {% endfor %}
{% endblock %}