{% extends 'base.html.twig' %}

{% block title %} Account | {{ parent() }} {% endblock %}

{% block body %}

    <main class="dashboard">

        <h1 id="account-title">Bienvenue {{ app.user.lastname }} <span>{{ app.user.firstname }}</span></h1>

        <div class="account-liens">
            <a href="{{ path('home') }}">Home</a> |
            <a href="{{ path('logout') }}">Deconnexion</a> |
            <a href="{{ path('suppAccount') }}">Supprimer le compte</a> |
            <a href="{{ path('editAccount') }}">Editer / Modifier</a>
        </div>

        <div class="account-detail">
            <ul>
                <li>Nom: {{ app.user.firstname }}</li>
                <li>Prenom: {{ app.user.lastname }}</li>
                <li>Email: {{ app.user.email }}</li>
                <li>Tel: {{ app.user.tel }}</li>
                <li>Vehicule: {{ app.user.vehicle }}</li>
            </ul>
        </div>

        <h3><a href="{{ path('addRun') }}">Rechercher un trajet</a></h3>

        <h2> Runs where I drive</h2>

        {% for run in runs %}

            <h4>{{ run.departureSchedule |date("d-m-Y") }} - {{ run.departureSchedule |date("H:i") }}</h4>

            <p>DEPART = {{ run.departure.cityName }}</p>
            <p>ARRIVEE = {{ run.arrival.cityName }}</p>

            <button><a href="{{ path('deleteRun', {'id': run.id}) }}">SUPP</a></button>
            <button><a href="{{ path('editRun', {'id': run.id}) }}">EDIT</a></button>
            <hr>
            {% else %}

            <p> No runs where you drive !</p>
        {% endfor %}

    </main>

{% endblock %}